extends layout

block content

    html
        head
            title=title
            link(href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css', rel='stylesheet')
        body
    .main.container
        .row.vertical-offset-100
            .col-md-6.col-md-offset-3
                .panel.panel-default
                    .panel-heading
                        .panel-title Log In
                    .panel-body
                        form(method='POST' action='/login')
                            div.form-group
                                label(for='user') Usuario
                                input.form-control(type='text' id='user' placeholder='Usuario' name='user')
                            div.form-group
                                label(for='password') Password
                                input.form-control(type='password' id='password' placeholder='Password' name='password')
                            button.btn.btn-success(type='submit') Log in
                            if correct === "0"
                                br
                                br
                                div.alert.alert-danger Usuario o password incorrecto
