extends ./navbar

block content
    .main.container
        .row
            div.col-md-11
                h1 Raspberrys
            div.col-md-1
                br
                button.btn.btn-success(type="button", onclick="validar_añadir();") Añadir
        .row
            br
            table.table.table-bordered.table-responsive.table-hover
                thead
                    .active
                        tr
                            th RaspberryID
                            th DNI
                            th(style="width:1%;text-align:center;") Opciones
                            th(style="width:1%;text-align:center;") Eliminar
                tbody
                    each item in rows
                        tr
                            td= item.RaspID
                            td= item.DNI
                            td(style="text-align:center;")
                                if item.DNI == null
                                    button.btn.btn-primary.btn-xs(onclick="validar_asociar();")
                                        span.glyphicon.glyphicon-tag(aria-hidden= 'true')
                                else
                                    button.btn.btn-warning.btn-xs(onclick="validar_desasociar('"+item.RaspID+"');")
                                        span.glyphicon.glyphicon-fire(aria-hidden= 'true')
                            td(style="text-align:center;")
                                button.btn.btn-danger.btn-xs(onclick="validar_eliminar();")
                                    span.glyphicon.glyphicon-remove(aria-hidden= 'true')
    div.modal.fade(id="eliminar" role="dialog")
        .modal-dialog
            .modal-content
                .modal-header
                    button.close(type="button" data-dismiss="modal") &times
                    h4 Eliminar cliente
                .modal-body
                    b ¿Está seguro que quiere Eliminar el cliente de esta Raspberry?
                    p Esta acción no se podrá deshacer.
                .modal-footer
                    button.btn.btn-danger(type="button" id="modalEliminar" onclick="eliminar()") Eliminar
                    button.btn.btn-default(type="button" data-toggle="modal" data-dismiss="modal") Cancelar

    div.modal.fade(id="desasociar" role="dialog")
        .modal-dialog
            .modal-content
                .modal-header
                    button.close(type="button" data-dismiss="modal") &times
                    h4 Desasociar cliente
                .modal-body
                    b ¿Está seguro que quiere desasociar el cliente de esta Raspberry?
                    p Esta acción no se podrá deshacer.
                .modal-footer
                    button.btn.btn-danger(type="button" id="modalDesasociar" onclick="") Desasociar
                    button.btn.btn-default(type="button" data-toggle="modal" data-dismiss="modal") Cancelar

    div.modal.fade(id="asociar" role="dialog")
        .modal-dialog
            .modal-content
                .modal-header
                    button.close(type="button" data-dismiss="modal") &times
                    h4 Asociar cliente
                .modal-body
                    form(method="post" id="formasociar" action="../client/asociar_cliente")
                        .row
                            div.form-group.col-md-6
                                label(for="DNI") DNI
                                input.form-control(name="dni", id="DNI", required="required")
                                div.alert.alert-danger(style="display:none" id="error_dni")

                .modal-footer
                    button.btn.btn-danger(type="button" id="modalAsociar" onclick="asociar()") Asociar
                    button.btn.btn-default(type="button" data-toggle="modal" data-dismiss="modal") Cancelar

    div.modal.fade(id="añadir" role="dialog")
        .modal-dialog
            .modal-content
                .modal-header
                    button.close(type="button" data-dismiss="modal") &times
                    h4 Añadir Raspberry.
                .modal-body
                    form(method="post" id="formraspberry" action="../client/anadir_raspberry")
                        .row
                            div.form-group.col-md-6
                                label(for="RaspberryID") Raspberry ID
                                input.form-control(name="RaspberryID", id="RaspberryID", required="required")
                                div.alert.alert-danger(style="display:none" id="error_raspberryID")
                            div.form-group.col-md-6
                                label(for="DNICliente") DNI Cliente
                                input.form-control(name="DNICliente", id="DNICliente")
                                div.alert.alert-danger(style="display:none" id="error_DNICliente")

                .modal-footer
                    button.btn.btn-success(type="button" id="modalAñadir" onclick="anadir_raspberry()") Añadir
                    button.btn.btn-default(type="button" data-toggle="modal" data-dismiss="modal") Cancelar

    script.
        function validar_desasociar(RaspID) {
            $("#modalDesasociar").attr("onclick","desasociar('"+RaspID+"')");
            $('#desasociar').modal('show');
        }
        function validar_asociar() {
            $('#asociar').modal('show');
        }
        function validar_eliminar() {
            $('#eliminar').modal('show');
        }
        function desasociar(RaspID) {
            $.post('../rasp/desasociar', {
                RaspID: RaspID
            }, function (data) {
                $('#desasociar').modal('hide');
                location.reload();
            });
        }
        function validar_añadir(){
            $('#añadir').modal('show');
        }
        function anadir_raspberry() {
            var valido = true;
            var RaspID = $('#RaspberryID').val();
            var DNI = $('#DNICliente').val();
            if (RaspID === "") {
                valido = false;
                $('#error_raspberryID').html("Raspberry ID no puede estar vacio.");
                $('#error_raspberryID').css("display", "");
            }
            if (valido) {
                $.post('../client/alta_cliente', {
                        DNI: DNI,
                        RaspID: RaspID
                    },
                    function (data) {
                        if (data.estado === "ok") {
                            $('#añadir').modal('show');
                            location.reload();
                        }
                        else {
                            if (data.DNI !== "ok") {
                                $('#error_dni').html(data.DNI);
                                $('#error_dni').css("display", "");
                            }
                            if (data.DNI !== "ok") {
                                $('#error_RaspberryID').html(data.RaspID);
                                $('#error_RaspberryID').css("display", "");
                            }
                        }
                    });
            }
        }
